* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

#app {
    height: 100vh;
    overflow-y: hidden;
}

img {
    width: 100%;
    display: block;
}

a {
    text-decoration: none;
}

ul,
ol,
menu {
    list-style: none;
}